[Unit]
Description=Publica temperatura CPU do MiniPC a cada 30s

[Timer]
OnBootSec=20s
OnUnitActiveSec=30s
AccuracySec=5s
Persistent=true

[Install]
WantedBy=timers.target
