[Unit]
Description=Sincronizar AdGuard oficial → backup a cada 1 h

[Timer]
OnBootSec=5min
OnUnitActiveSec=1h
AccuracySec=1min
Persistent=true

[Install]
WantedBy=timers.target
