# Copiar para .env no servidor (não commitar)
# Portainer live: .../portainer_data/_data/compose/8/.env
DB_PASSWORD=CHANGE_ME_strong_password
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
DB_HOSTNAME=database
REDIS_HOSTNAME=redis
UPLOAD_LOCATION=/usr/src/app/upload
IMMICH_MACHINE_LEARNING_URL=http://immich-machine-learning:3003
PUBLIC_URL=https://fotos.seudominio.exemplo
IMMICH_TRUSTED_PROXIES=172.16.0.0/12,192.168.3.0/24,127.0.0.1
